body {
    background-color: #fff3cd !important;
}

h1 {
    color: #d4351c !important;
    font-size: 3rem !important;
}

body::before {
    content: "CSS Loaded From GitHub";
    display: block;
    background: #00703c;
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
``
