body {
    background: hotpink !important;
    border: 30px solid lime !important;
}

body::before {
    content: "JAKE TEST THEME WORKING";
    display: block;
    background: red;
    color: white;
    font-size: 50px;
    text-align: center;
    padding: 20px;
}
